$primary: #24272b;
$primary-darken: #07070a;
$primary-lighten: #4a525a;
$text: #ffffff;
$neon: #00baff;
$default-spacing: 16px;

@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text($size: 'n') {
  color: $text;
  font-family: Verdana, serif;
  @if ($size == 'n') {
    font-size: 1.2rem;
  }
  @if ($size == 'h') {
    font-size: 2.2rem;
  }
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
